* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #1e1e1e;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

a img {
    margin-left: .2rem;
}

main a {
    color: #939598;
}

.mobileMenu, .sliderMobile {
    display: none;
}

/* sideMenu style start */

.sideMenu {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    width: 12vw;
    border-right: 1px solid rgba(128, 128, 128, 0.26);
}

.sideMenu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
}

.sideMenu h2 {
    width: auto;
    margin: auto;
    color: #939598;
    font-size: 1rem;
    background-repeat: no-repeat;
}

.sideMenu img {
    width: 80%;
    margin-top: 3rem;
}

.sideMenu ul {
    list-style: none;
}

.sideMenu li {
    height: 80px;
    font-size: 13px;
}

.sideMenu a {
    display: flex;
    align-items: center;
    background-position: left;
    background-size: 50%;
    background-repeat: no-repeat;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}

.sideMenu a:hover {
    color: #939598;
}

/* sideMenu style end */

/* section 1 style start */

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 17vw;
    margin-right: 1rem;
    width: auto;
    height: 100vh;
    font-size: 12px;
}

section .mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    background-repeat: no-repeat;
    height: 70px;
    background-size: contain;
}

section .mainTitle h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: #939598;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #939598;
}

section h3 {
    font-size: 13px;
    color: #a3a3a3;
}

.containerAbout1 {
    width: 45%;
    height: 50%;
    line-height: 1.5rem;
}

.containerAbout1 h3 {
    margin-bottom: 1rem;
}

.containerAbout2 {
    width: 50%;
    height: 50%;
    display: flex;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.otherAbout {
    width: 150px;
    margin: .5rem;
}

.otherAbout div {
    width: 100%;
    height: 150px;
    margin-bottom: 2rem;
}

.otherAbout .aboutImage img {  
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.otherAbout p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.otherAbout a {
    text-decoration: none;
}

.otherAbout #highlightText {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* section 1 style end */

/* section 2 style start */

#sec2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    /* margin-bottom: 2rem; */
}

.title h1 {
    margin-bottom: 0;
}

.title .linkNews {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.containerNews {
    display: inline-flex;
    overflow-x: auto;
}

.newsBlock {
    width: auto;
    margin-right: 1rem;
    background-color: #292929;
}

.newsBlock .image {
    height: 160px;
    position: relative;;
}

.newsBlock .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsBlock .icon {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 30px;
}

.newsBlock .info {
    padding: 1rem;
}

.newsBlock h1, .newsBlock h3, .newsBlock p {
    margin-bottom: 1rem;
}

.newsBlock h3 {
    color: black;
    background-color: gray;
    width: fit-content;
}

.newsBlock h1 {
    color: gray;
    font-size: 1.2rem;
    font-weight: 400;
}

.blockIcon {
    position: absolute;
    top: -1%;
    right: -1%;
}

/* section 2 style end */

/* section 3 style start */

.formContact {
    width: 40%;
    height: 50%;
    margin-bottom: 2rem;
}

.formContact p {
    margin-bottom: 1rem;
}

.formContact input, .formContact textarea {
    margin-top: .2rem;
    margin-bottom: 1rem;
}

.formContact input {
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.26);
    width: 100%;
    height: 30px;
    outline: none;
}

.formContact textarea {
    width: 100%;
    height: 100px;
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.26);
    margin-bottom: 1rem;
    outline: none;
}

.formContact button {
    background: none;
    border: none;
}

.formContact .contact {
    display: flex;
    justify-content: space-between;
}

.formContact .contact div {
    width: 48%;
}

.formContact button {
    margin-top: 1rem;
    color: #939598;
    cursor: pointer;
}

.follow {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.follow .textInfo {
    margin-bottom: 1rem;
}

.follow h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.follow .location img {
    margin-right: .5rem;
}

.location, .brands {
    display: flex;
    height: 300px;
}

.location div, .brands div {
    width: 180px;
    line-height: 1.5rem;
    margin-right: 1rem;
}

.location p, .brands p {
    margin: 0;
}

.location .socialIcons {
    margin-top: 1rem;
}

.brands {
    margin-top: 2rem;
}

.brands .brandsIcons {
    height: 40%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

/* section 3 style end */

/* layout mobile media query start */

@media (max-width: 1400px) {

    .sideMenu, section {
        display: none;
    }

    .mobileMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
        height: 8vh;
        border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    }

    .mobileMenu img {
        height: 100%;
    }

    .mobileMenu button {
        background: none;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 40px;
    }

    .mobileMenu button img {
        height: 100%;
    }

    .mobileMenu .overlay {
        width: 0;
        height: 100%;
        z-index: 9;
        position: fixed;
        left: 0;
        top: 8vh;
        overflow-x: hidden;
        transition: all 0.5s;
        background-color: #1e1e1e;
    }

    .overlayContainer {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        margin-bottom: 2.5rem;
        color: #ffffff;
        display: block;
        font-size: 34px;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #939598;
    }

    .overlay .closeBtn {
        position: absolute;
        top: 25px;
        right: 45px;
        font-size: 60px;
    }

    .sliderMobile {
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 100vh;

        overflow: hidden;
        background-color: #292929;
    }

    .slides {
        width: 200%;
        height: 300px;
        display: flex;
    }

    .slides input {
        display: none;
    }

    .slide {
        position: relative;
        transition: 2s;
    }

    .slide img {
        width: 400px;
    }

    .manualNavigation {
        position: absolute;
        width: 400px;
        margin-top: -70px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: .5s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 1rem;
    }

    .manual-btn:hover {
        background-color: #939598;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -50%;
    }

    #radio3:checked ~ .first {
        margin-left: -100%;
    }
    
    #radio4:checked ~ .first {
        margin-left: -150%;
    }

    .navigationAuto div {
        border: 2px solid #fff;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: .5s;
    }

    .navigationAuto {
        position: absolute;
        width: 400px;
        margin-top: 230px;
        display: flex;
        justify-content: center;
    }

    .navigationAuto div:not(:last-child) {
        margin-right: 1rem;
    }

    #radio1:checked ~ .navigationAuto .auto-btn1 {
        background-color: #939598;
    }
    #radio2:checked ~ .navigationAuto .auto-btn2 {
        background-color: #939598;
    }
    #radio3:checked ~ .navigationAuto .auto-btn3 {
        background-color: #939598;
    }

    #radio4:checked ~ .navigationAuto .auto-btn4 {
        background-color: #939598;
    }

    .infoMobile {
        height: 100vh;
        padding: 0 2rem;
    }

    .infoMobile h3 {
        display: inline;
        background-color: #939598;
        color: black;
        padding: 0 5px;
    }

    .infoMobile h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
        color: #939598;
    }

    .infoMobile p {
        margin-bottom: 1rem;
    }
}

/* layout mobile media query end */