* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #1e1e1e;
}

h1, h2, h3 {
    color: gray;
    font-weight: 400;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

/* sideMenu style start */

.sideMenu {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    width: 12vw;
    border-right: 1px solid rgba(128, 128, 128, 0.26);
}

.sideMenu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
}

.sideMenu h2 {
    width: auto;
    margin: auto;
    font-size: 1rem;
    color: gray;
    background-repeat: no-repeat;
}

.sideMenu img {
    width: 80%;
    margin-top: 3rem;
}

.sideMenu ul {
    list-style: none;
}

.sideMenu li {
    height: 80px;
    font-size: 13px;
    
}

.sideMenu a {
    display: flex;
    align-items: center;
    background-position: left;
    background-size: 50%;
    background-repeat: no-repeat;
    height: 100%;
    text-decoration: none;
}

/* sideMenu style end */

/* section 1 style start */

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 17vw;
    margin-right: 1rem;
    width: auto;
    height: 100vh;
    font-size: 12px;
}

section .mainTitle {
    height: 50px;
    width: 50px;
}

section h1 {
    display: flex;
    height: 100%;
    font-size: 2.5rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

section h2 {
    font-size: 2rem;
}

.containerAbout1 {
    width: 45%;
    height: 50%;
    line-height: 1.5rem;
}

.containerAbout1 h1 {
    font-size: 2rem;
}

.containerAbout1 h2 {
    font-size: 1.5rem;
}

.containerAbout1 h3 {
    font-size: 13px;
    font-weight: 400;
}

.containerAbout1 p {
    margin-bottom: 0.5rem;
}

.containerAbout2 {
    width: 50%;
    height: 50%;
    display: flex;
}

.otherAbout {
    width: 150px;
    margin: .5rem;
}

.otherAbout div {
    width: 100%;
    height: 150px;
    margin-bottom: 2rem;
}

.otherAbout img {  
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.otherAbout p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.otherAbout a {
    text-decoration: none;
    font-size: 14px;
    color: grey;
}

.otherAbout #highlightText {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* section 1 style end */

/* section 2 style start */

#sec2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.title h1 {
    margin-bottom: 0;
}

.title a {
    padding-left: 2rem;
    display: block;
    padding-bottom: .5rem;
    /* height: 40px; */
}

.containerNews {
    display: flex;
}

.newsBlock {
    width: 230px;
    margin-right: 1rem;
    background-color: #292929;
    position: relative;
}

.newsBlock .image {
    height: 150px;
}

.newsBlock img {
    width: 100%;
    height: 100%;
}

.newsBlock .icon {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 30px;
}

.newsBlock .info {
    padding: 1rem;
}

.newsBlock h1, h3, p {
    margin-bottom: 1rem;
}

.newsBlock h3 {
    color: black;
    background-color: gray;
    width: fit-content;
}

.newsBlock h1 {
    color: gray;
    font-size: 1.2rem;
    font-weight: 400;
}

/* section 2 style end */

/* section 3 style start */

.formContact {
    width: 40%;
    height: 50%;
    margin-bottom: 2rem;
}

form label {
    margin-top: 1rem;
    margin-bottom: .2rem;
}

.formContact input, .formContact textarea {
    margin-top: .2rem;
    margin-bottom: 1rem;
}

.formContact input {
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.26);
    width: 100%;
    height: 30px;
    outline: none;
}

.formContact textarea {
    width: 100%;
    height: 100px;
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.26);
    margin-bottom: 1rem;
    outline: none;
}

.formContact button {
    background: none;
    border: none;
}

.formContact .contact {
    display: flex;
    justify-content: space-between;
}

.formContact .contact div {
    width: 48%;
}

.formContact button {
    margin-top: 1rem;
}

.follow {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.follow h3 {
    font-size: 1.3rem;
}

.location img {
    margin-right: 1rem;
}

.location, .brands {
    display: flex;
    height: 300px;
}

.location div, .brands div {
    width: 200px;
    line-height: 1.5rem;
}

.location p, .brands p {
    margin: 0;
}

.location .socialIcons {
    margin-top: 1rem;
}

.brands {
    margin-top: 2rem;
}

.brands .brandsIcons {
    height: 40%;
    display: flex;
    align-items: flex-end;
}

/* section 3 style end */
